doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://masonry.desandro.com/masonry.pkgd.js")
    script(src="http://imagesloaded.desandro.com/imagesloaded.pkgd.js")
  body
    block content
